/* 让 VS Code Webview UI 组件跟随主题 */
:root {
    --vscode-input-background: #ffffff;
    --vscode-input-foreground: #000000;
    --vscode-button-background: #007acc;
    --vscode-button-foreground: #ffffff;
    --vscode-button-hoverBackground: #005f9e;
}

html, body {
    height: 100%; 
}

body { font-family: Arial, sans-serif; margin: 0; padding: 0; }

.vueapp { 
    width: 100%; margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}



body {
    background-color: var(--vscode-editor-background, #fff);
    color: var(--vscode-editor-foreground, #000);
    font-family: var(--vscode-font-family, sans-serif);
}

input, textarea {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border, #ccc);
    padding: 8px;
    border-radius: 4px;
}

button {
    background: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: var(--vscode-button-hoverBackground);
}

// 添加 button 的 danger 样式
button.danger {
    background-color: #e74c3c; // 比较好看的红色
    color: #ffffff; // 白字
}

button.danger:hover {
    background-color: #c0392b; // 悬停时更深的红色
}

hr {
    border-top: 1px solid var(--vscode-divider-color);
}

table {
    width: 100%;
    border-collapse: collapse;

    tr {
        &:nth-child(even) {
            background-color: var(--vscode-list-hoverBackground);
        }
        &:nth-child(odd) {
            background-color: transparent;
        }

        // 添加悬停效果
        &:hover {
            background-color: var(--vscode-list-activeSelectionBackground);
        }
    }

    td {
        padding: 5px;
        border: 1px solid var(--vscode-panel-border);
    }
}

// 添加 select 元素的样式
select {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border, #ccc);
    padding: 8px;
    border-radius: 4px;
    appearance: none; // 去除默认样式
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

select:hover {
    border-color: var(--vscode-button-hoverBackground);
}

.fit-width {
    width: 100%; 
    box-sizing: border-box;
}